.wrapper
    overflow: hidden
    width: 100%
    min-height: 100%
    height: auto !important
    position: absolute
    background-color: #ecf0f5 !important
    .nav-tabs-custom > .nav-tabs > li
        float: right

.latest-clients-widget
    height: 363px
    .box-body
        margin-left: -10px
        ul
            overflow: auto
            height: 260px
            li.item
                padding-left: 10px

.latest-drivers-widget
    height: 363px
    .box-body
        margin-left: -10px
        ul
            overflow: auto
            height: 260px
            li.item
                padding-left: 10px

.widget-trips-pie
    min-height: 365px !important


.box-profile
    ul
        margin-bottom: 0
        li
            border-bottom-width: 0

@media (max-width: 767px)
    .sidebar-open .content-wrapper
        width: 100% !important
