// @import url(http://awebfont.ir/css?id=1776);
body, h1, h2, h3, h4, h5, h6 {
    font-family: BBCNassim,sans-serif;
    direction: rtl;
}
// General
.main-sidebar {
    right: 0;
    left: inherit;
    direction: rtl;
    padding-right: 5px;

}
.info-box{
    text-align: rtl;
    direction: rtl;
}
.box-body{
    direction: rtl;
}
.box-header.with-border{
    direction: rtl;
}
.box-header > .box-tools{
    left: 10px !important;
    right: inherit !important;
}
.input-group{
    direction: rtl;
}
.box.box-solid{
    direction: rtl;
    table tr>th {
        text-align: right !important;
    }
}
.ranges li {
    text-align :right;
}
.content-wrapper, .main-footer {
    margin-right: 230px;
    margin-left: 0;
}
.main-header .sidebar-toggle{
    float: right !important;
    width: 50px;
    text-align: center;
}
/* .form-control{
    direction: rtl !important;
} */
.form-horizontal .form-group{
    direction: rtl !important;
}
.content-header > .breadcrumb {
    direction: rtl !important;
}
@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper, 
    .sidebar-collapse .right-side, 
    .sidebar-collapse .main-footer {
        margin-right: 0;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper, 
    .sidebar-mini.sidebar-collapse .right-side, 
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 0px !important;
        margin-right: 50px !important;
    }

    .content-wrapper, 
    .right-side, 
    .main-footer {
        margin-right: 230px !important;
    }
}

@media (max-width: 767px) {
    .main-sidebar, 
    .left-side {
        margin-right: -230px !important;
    }
}
@media (min-width: 768px){
    .col-sm-2{
        float: right !important;
    }
}

/**
 * Sidebar
 */
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    margin-right: -5px;
}

.sidebar-menu > li > a > i {
    padding: 0 5px;
} 

.user-panel > .info {
    left: inherit;
    right: 55px;
}

.user-panel > .info > a {
    padding-right: 0px;
    padding-left: 5px;
}

.user-panel > .info > a > .fa, 
.user-panel > .info > a > .ion, 
.user-panel > .info > a > .glyphicon {
    margin-right: 0;
    margin-left: 3px;
}

/**
 * Components
 */
.fullscreen-link {
    left: 10px !important;
    right: inherit !important;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
        padding-right: 17px;
    }
}

ul.list-group {
    padding-right: 0;
}

li.list-group-item {
    span.pull-right {
        float: left !important;
    }
}

.time-label span, div.timeline-item span.time {
    float: left !important;
}

.content-header > h1 {
    text-align: left;
}