
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../../../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../../../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../../../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../../../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../../../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../../../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../../../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../../fonts/eot/IRANSansWeb.eot');
    src: url('../../../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


body, h1, h2, h3, h4, h5, h6 {
    font-family: IRANSans,sans-serif;
}
// General
.main-sidebar {
    right: 0;
    left: inherit;
    direction: rtl;
    padding-right: 5px;

}
.info-box{
    text-align: rtl;
    direction: rtl;
}
.box-body{
    direction: rtl;
}
.box-header.with-border{
    direction: rtl;
}
.box-header > .box-tools{
    left: 10px !important;
    right: inherit !important;
}
.input-group{
    direction: rtl;
}
.box.box-solid{
    direction: rtl;
    table tr>th {
        text-align: right !important;
    }
}
.ranges li {
    text-align :right;
}
.content-wrapper, .main-footer {
    margin-right: 230px;
    margin-left: 0;
}
.main-header .sidebar-toggle{
    float: right !important;
}
/* .form-control{
    direction: rtl !important;
} */
.form-horizontal .form-group{
    direction: rtl !important;
}
.content-header > .breadcrumb {
    direction: rtl !important;
}
@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper, 
    .sidebar-collapse .right-side, 
    .sidebar-collapse .main-footer {
        margin-right: 0;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper, 
    .sidebar-mini.sidebar-collapse .right-side, 
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 0px !important;
        margin-right: 50px !important;
    }

    .content-wrapper, 
    .right-side, 
    .main-footer {
        margin-right: 230px !important;
    }
}

@media (max-width: 767px) {
    .main-sidebar, 
    .left-side {
        margin-right: -230px !important;
    }
}
@media (min-width: 768px){
    .col-sm-2{
        float: right !important;
    }
}

/**
 * Sidebar
 */
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    margin-right: -5px;
}

.user-panel > .info {
    left: inherit;
    right: 55px;
}

.user-panel > .info > a {
    padding-right: 0px;
    padding-left: 5px;
}

.user-panel > .info > a > .fa, 
.user-panel > .info > a > .ion, 
.user-panel > .info > a > .glyphicon {
    margin-right: 0;
    margin-left: 3px;
}
